html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header style start */
.header {
    position: fixed;
    width: 100%;
    transition: .2s linear;
    z-index: 100;
}

.header_active {
    background-color: #DDDDDD;
    padding-bottom: 15px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-img-contaner {
    margin-right: 10px;
}

.header-logo-link {
    font-size: 20px;
    font-weight: 500;
    color: #0B132A;
}

.header-nav-list {
    display: flex;
}

.header-nav-item {
    margin-right: 40px;
}

.header-nav-item:last-child {
    margin-right: 0;
}

.header-nav-item-link {
    color: #4F5665;
    font-size: 16px;
    transition: .2s;
}

.header-nav-item-link:hover,
.header-nav-item-link:active,
.header-nav-item-link:focus {
    opacity: .75;
}

.header-auth {
    display: flex;
    align-items: center;
}

.header-auth-signIn {
    font-weight: 500;
    color: #0B132A;
    margin-right: 30px;
    transition: .2s;
}

.header-auth-signIn:hover,
.header-auth-signIn:active,
.header-auth-signIn:focus {
    opacity: .75;
}

.header-auth-signUp {
    font-weight: 500;
    color: #F53855;
    padding: 13px 45px;
    border-style: solid;
    border-radius: 50px;
    border-color: #F53855;
    border-width: 1px;
    transition: .2s;
}

.header-auth-signUp:hover,
.header-auth-signUp:active,
.header-auth-signUp:focus {
    background-color: #F53855;
    color: white;
}

/* Header style end */



/* Intro style start */

.intro {
    padding-top: 207px;
    margin-bottom: 128px;
}

.intro-wrapper {
    position: relative;
}

.intro-title {
    max-width: 555px;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
}

.intro-subtitle {
    max-width: 555px;
    line-height: 30px;
    margin-bottom: 50px;
}

.intro-button {
    font-weight: 700;
    line-height: 25px;
    color: white;
    padding: 17.5px 77.5px;
    background-color: #F53838;
    border-radius: 10px;
    box-shadow: 0 9px 16px #F53838;
    transition: .2s;
}

.intro-button:hover,
.intro-button:active,
.intro-button:focus {
    scale: 1.1;
}

.intro-img-contaner {
    position: absolute;
    right: -45px;
    top: -27px;
}

/* Intro style start */



/* Data style start */

.Data {
    margin-bottom: 95px;
    scroll-margin-top: 350px;
}

.wrapper-data {
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
}

.data-cards::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0D1025;
    filter: blur(75px);
    opacity: .06;
    width: 1068.84px;
    height: 189.22px;
    border-radius: 10px;
    bottom: -11.22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.data-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 38px 91px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.data-card {
    display: flex;
    align-items: center;
}

.data-img-container {
    margin-right: 36.5px;
}

.data-card-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 4px;
}

.data-subtitle {
    font-size: 20px;
    line-height: 30px;
}

/* Data style end */




/* Features style start */

.Features {
    margin-bottom: 132px;
    scroll-margin-top: 170px;
}

.features-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.features-text {
    max-width: 435px;
    margin-left: 170px;
}

.features-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.features-subtitle {
    line-height: 30px;
    margin-bottom: 23px;
}

.features-list-item {
    margin-bottom: 21px;
}

.features-list-item:last-child {
    margin-bottom: 0;
}

.features-list-item {
    display: flex;
    align-items: center;
}

.features-list-img-container {
    margin-right: 10.08px;
}

.features-item-text {
    font-size: 14px;
    line-height: 30px;
}

/* Features style end */



/* Plan style start */

.Plan {
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    margin-bottom: 150px;
    padding-top: 80px;
}

.plan-text {
    text-align: center;
}

.plan-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
}

.plan-subtitle {
    line-height: 30px;
    margin-bottom: 60px;
}

.plan-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    
}

.plan-card {
    width: 330px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #DDDDDD;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 79.63px 69.87px 50px 69.87px;
}

.plan-card-third {
    border-color: #F53838;
}

.plan-card-img-top-container {
    margin-bottom: 30px;
}

.plan-card-item {
    display: flex;
    margin-bottom: 10px;
}


.plan-card-img-container {
    display: flex;
    margin-right: 25.61px;
}

.plan-card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 30px;
}

.plan-card-text {
    font-size: 14px;
    line-height: 30px;
}

.plan-card-list {
    margin-bottom: 130px;
}

.plan-card-price {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.plan-card-price-bold {
    color: #0B132A;
}

.plan-card-button {
    font-size: 16px;
    font-weight: 700;
    color: #F53838;
    padding: 13px 63px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: #F53838;
    transition: .2s;
}

.plan-card-button:hover,
.plan-card-button:focus
.plan-card-button:active {
    background-color: #F53838;
    color: white;
}

.plan-card-second .plan-card-list {
    margin-bottom: 90px;
}

.plan-card-third .plan-card-list {
    margin-bottom: 50px;
}

.plan-card-third .plan-card-button {
    color: white;
    background-color: #F53838;
    position: relative;
}

.plan-card-third .plan-card-button:hover,
.plan-card-third .plan-card-button:focus,
.plan-card-third .plan-card-button:active {
    color: #F53838;
    background-color: white;
}

.plan-card-third .plan-card-button::after {
    content: "";
    position: absolute;
    width: 127.38px;
    height: 45px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -27px;

    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);
    border-radius: 60px;
    z-index: -1;

}

/* Plan style end */




/* Network style start */

.Network {
    margin-bottom: 58px;
}

.wrapper-network {
    text-align: center;
}

.network-title {
    max-width: 384px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
    margin: 0 auto;
    margin-bottom: 20px;
}

.network-subtitle {
    max-width: 555px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 156px;
}

.network-img-map-container {
    margin-bottom: 36px;
}

/* Network style end */



/* Feedback style start */

.Feedback {
    /* padding-bottom: 202px; */
    position: relative;
    scroll-margin-top: 109px;
}

.wrapper-feedback {
    max-width: 1300px;
    margin: 0 auto;
}

.feedback-text {
    text-align: center;
}

.feedback-title {
    max-width: 448px;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #0B132A;
    margin: 0 auto;
    margin-bottom: 20px;
}

.feedback-subtitle {
    max-width: 555px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.feedback-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-bottom: 60px;
}


.feedback-card {
    max-width: 400px;
    padding: 30px 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #DDDDDD;
}

.feedback-first-card {
    border-color: #F53838;
}


.feedback-card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.feedback-card-info-author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feedback-card-img-author-container {
    margin-right: 20px;
}

.feedback-card-author-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.feedback-card-author-country {
    font-size: 14px;
}

.feedback-card-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.feedback-card-rating-img {
    margin-left: 12px;
}

.feedback-card-body {
    line-height: 30px;
}

.feedback-active-img-choice-container {
    text-align: center;
    margin-bottom: 250px;
}


/* Feedback style end */




/* Cta style start */

.cta {

    margin-top: -116.5px;
    margin-bottom: -116.5px;
    position: relative;
    z-index: 2;
}

.wrapper-cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 58.5px 70px;
    background-color: white;
    border-radius: 10px;

}

.wrapper-cta::after {
    content: "";
    position: absolute;
    width: 1077.17px;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    top: 17px;

    background: #0D1025;
    opacity: 0.06;
    filter: blur(57px);
    border-radius: 10px;
    z-index: -2;
}

.cta-title {
    max-width: 372px;
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
    color: #0B132A;
    margin-bottom: 20px;
}

.cta-subtitle {
    line-height: 30px;
}

.cta-button-container {
    position: relative;
    display: flex;
    align-items: center;

}

.cta-button {
    font-weight: 700;
    line-height: 25px;
    color: white;
    padding: 17.5px 65px;
    border-radius: 10px;
    background-color: #F53838;
    position: relative;
    z-index: 2;
    transition: .2s;

}

.cta-button:hover,
.cta-button:active,
.cta-button:focus {
    scale: 1.1;
}


.cta-button::after {
    content: "";
    position: absolute;
    width: 211.83px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: 26px;

    background: rgba(245, 56, 56, 0.35);
    filter: blur(27px);
    border-radius: 10px;
    z-index: -1;

}

/* Cta style end */




/* Footer style start */


.footer {
    background-color: #F8F8F8;
    padding-top: 180px;
    padding-bottom: 100px;
}

.wrapper-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-leftPanel-logo {
    display: flex;
    margin-bottom: 20px;
}

.footer-leftPanel-logo-img {
    margin-right: 10px;
}

.footer-leftPanel-link-container {
    display: flex;
    align-items: center;
}

.footer-leftPanel-logo-link {
    font-size: 20px;
    font-weight: 500;
    color: #0B132A;

}

.footer-leftPanel-subtitle {
    max-width: 340px;
    line-height: 30px;
    margin-bottom: 30px;
}

.footer-leaftPanel-rule {
    line-height: 30px;
    color: #AFB5C0;
}

.footer-panelRight {
    display: flex;
}

.footer-list {
    margin-left: 126px;
}

.footer-list:first-child {
    margin-left: 0;
}

.footer-list-product-item:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 20px;
}

.footer-list-product-item-link {
    line-height: 30px;
    margin-bottom: 10px;
    color: #4F5665;
    transition: .2s;
}

.footer-list-product-item-link:hover,
.footer-list-product-item-link:focus,
.footer-list-product-item-link :active {
    color: #161a24;
}

.footer-list-product-item-link:last-child {
    margin-bottom: 0;
}

/* Footer style end */




/* Fonts start */

/* rubik-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v30-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v30-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fonts end */